.taskContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 150px;
  background-color: #e37789;
  border-radius: 5px;
  color: #eafdfd;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.taskContainer p {
  text-align: center;
}

.current {
  color: #2d4a54;
  background-color: #2d4a54;
  box-shadow: none;
}

.trashIcon{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
}
